<div class="ui main text container padding">

  <h1>Ayuda</h1>

  <p>Esta aplicación permite visualizar los eventos
  y estadísticas de uso del cliente conectar-info.</p>

  <p>Versión de la aplicación: <code>{{app-version}}</code></p>

</div>
