<div class="ui main text container padding">

  <h1>Bienvenido a conectar-info-dashboard</h1>

  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>
  <p>Ejemplo de contenido</p>

</div>
